
.flex {
	display: flex;

	&.flex--end {
		justify-content: flex-end;
	}

	&.flex--start {
		justify-content: flex-start;
	}
}

.half {
	width: 100%;

	@include bp(min, $bp-med) {
		width: 50%;
	}
}

.third {
	width: 100%;

	@include bp(min, $bp-med) {
		width: 50%;
	}
	
	@include bp(min, $bp-lg) {
		width: percentage(1/3);
	}
}

.full {
	width: 100%;
}