//colors
// $primary: #4FA6BC;
$primary: #501f9b;
$primary: #371170;
// $secondary: #91D164;
$secondary: #31c9e0;
$tertiary: #1D4B64;

$c-white: #ffffff;
$c-black: #000;



$f-main: 'Montserrat Alternates', sans-serif;


//breakpoints
$bp-sm: '600px';
$bp-med: '800px';
$bp-med-lg: '940px';
$bp-lg: '1200px';
$bp-xlg: '1440px';


